
#list {
	margin: 10px;
}

.list__title {
	margin: 10px;
}

.list__item {
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.3s;
	border-radius: 5px;

}

.list__item:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200, 0.4);
}

.list__item > span {
    width: 70%;
}