#page {
	padding: 20px;
	position: relative
}

#photo__img {
	width: 150px;
	height: 150px;
}

#photo__pen {
    position: absolute;
	right: 0px;
    bottom: 0px;
}

#photo__input {
	display: none
}

#photo, .button__editANDsave {
	position: absolute;
	top: 30px;
}

.button__editANDsave {
	right: 300px;
}

.fieldEdit {
	position: relative
}

.fieldEdit > input {
	background-color: white;
	border-style: none;
	text-align: center;
}

.fieldEdit > svg {
	position: absolute; 
	right: -20px;
}

/*#region container*/

#container {
	width: 60%;
	height: fit-content;
	background-color: white;
	padding: 30px;
	border-radius: 20px;
	margin-top: 70px;
	padding-top: 100px;
}

#container > div {
	margin: 5px;
}
/*#region container__top*/
#container__top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#container__top__name {
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0px;
	border-style: none;
	text-align: center;
}

#container__mid__description {
	font-size: 16px;
	color: #8b94a2;
	text-align: center;
}

/*#endregion */

/*#region container__mid*/
/* #container__mid {
} */

/* #container__mid__span__aboutMe {
} */

#container__mid__info {
    margin: 10px;
	/* display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center; */
}

#container__mid__info div {
    margin: 10px;
	padding: 5px;
}

.container__mid__info__div {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	width: fit-content;
}

.container__mid__info__div > span {
	margin: 5px 5px;
	text-align: center;
}

.container__mid__info__div__number {
	font-weight: bold;
}
/*#endregion */

/*#region container__bottom*/
/* #container__bottom {
} */
/*#endregion */

/*#endregion */
